@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

body {
    background-image: url('../src/img/login-bg-img.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;

    backdrop-filter: blur(6px) saturate(150%);

    border-radius: 10px 5px;
    border: 1px rgba(255, 255, 255, 0.25) solid;
    padding: 35px;
}

main h1 {
    color: white;
}

main p {
    color: white;
}

main input {
    padding: 15px;
    border-radius: 25px;
    border: 1px rgba(255, 255, 255, 0.25) solid;
    outline: none;
    background-color: transparent;
    color: white;
    width: 250px;
    font-size: 16px;
    transition: 0.125s;
}

main input:focus {
    transform: scale(1.025);
}

input::placeholder {
    color: white;
}

div > ion-icon {
    position: absolute;
    transform: translate(-40px, 12px);
    font-size: 23px;
    color: white;
}

#passwordContainer {
    display: flex;
    gap: 25px;
}

#rememberMe {
    color: white;
    display: inline;
}

#rememberMe input {
    width: 30px;
}

a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

main button {
    background-color: white;
    font-weight: 700;
    width: 250px;
    padding: 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 16px;
    transition: 0.125s;
}

main button:hover {
    transform: scale(1.05);
}

main button:active {
    transform: scale(1);
}

button ion-icon {
    position: absolute;
    transform: translate(-40px, -3px);
    font-size: 25px;
    color: #da1717;
}